/*  your css code here. If applicable */
   .purple{
            color: purple;
            font-weight: bold;
        }
        .blue{
            color: blue;
            font-weight: bold;
        }
       